ujson
textdistance
matplotlib
wandb==0.12.21
nltk
datasets
seqeval
lxml
pandas
scipy
scispacy
sentencepiece
rouge_score
torch_optimizer
fuzzywuzzy
python-Levenshtein
evaluate
bert-score
accelerate
stemming
quantulum3
deepspeed
openai
dill
scispacy
ujson
p-tqdm
tqdm
scikit-learn==1.0.2
swifter
pytorch-lightning
