ujson
textdistance
matplotlib
wandb==0.12.21
nltk
datasets
seqeval
lxml
pandas
scipy
scispacy
sentencepiece
rouge_score
torch_optimizer
fuzzywuzzy
python-Levenshtein
evaluate
bert-score
accelerate==0.10.0
stemming
quantulum3
deepspeed
openai
